<h4>Is there a landfill in the image?</h4>
<div style="container width: 900px;">
    <div class="pic" style="width: 700px;"><img id="selectionImage" src='{{images.1.url}}' alt="Sample image"></div>
    <p id ="demo"></p>
    <button type="button" id="accept" onclick="dosomething()" class=" btn1 btn btn-success">Accept</button>
    <button type="button" id="reject" onclick="dosomething()" class="btn2 btn btn-danger">Reject</button>
</div>

<script>
var i = 1;
var allimages = [];    
{{#each images}}
      allimages.push('{{this.url}}');
{{/each}}
function dosomething() {
      var url = allimages[i]
      $('#selectionImage').attr('src',url); 
      i++;
}
</script>