<h4>Draw an outline around landfill in the image</h4>
<div style="container width: 900px;">
    <div class="pic" style="width: 700px;"><img height="500" width="500" id="selectionImage" src='https://www.gstatic.com/webp/gallery/4.webp' alt="Sample image"></div>
    <p id ="demo"></p>
    <button type="button" id="accept" onclick="dosomething()" class=" btn1 btn btn-success">Send</button>
    <button type="button" id="reject" onclick="dosomething()" class="btn2 btn btn-danger">clear</button>
</div>